node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.pem
*.mobileprovision
*.orig.*
eas.json
.idea/
.gradle/
local.properties
android/.gradle/
android/app/build/
android/.idea/
ios/Pods/
ios/build/
